// Colors
// $color-main: #a184b7;
$color-main: #a8687f;
$color-dark: #241052;
$color-white: #fff;
$color-grey: #6e6e6e;
$color-accent: #ad224a;
$color-overlay: #641c3999;
$color-button: #641c39;
$color-title: #a8687f;

// Shadows
$shadow-light: 2px 2px 18px #634b7f80;
$shadow-dark: 2px 2px 18px #634b7fb3;
$shadow-dark-large: 4px 4px 36px #634b7fb3;

// Gutters
$gutter: 30px;
$gutter-small: 15px;
$gutter-extra-small: 8px;
$gutter-large: 50px;
$margin: 10%;

$radius: 10px;

// Responsive
$breakpoint: 1150px;
