@import "./_vars";

// Fonts

@font-face {
  font-family: "Mathilde";
  src: url("../fonts/mathilde.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

// Global

* {
  box-sizing: border-box;
  margin: 0;
  &:focus {
    outline: none;
  }
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $gutter-small;
  padding: 0;
  flex-grow: 1;
  text-align: justify;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Mathilde";
  font-size: 10rem;
  text-align: center;
  color: $color-main;
  font-weight: normal;
}

h2 {
  font-family: "Mathilde";
  font-size: 5rem;
  line-height: 4rem;
  text-align: left;
  color: $color-main;
  font-weight: normal;
}

h3 {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1.2em;
  color: $color-main;
}

h4 {
  font-family: "Mathilde";
  font-size: 4em;
  text-align: center;
  color: $color-main;
  font-weight: normal;
}

body,
li,
a,
p,
button {
  font-family: "Raleway";
  font-size: 1em;
  color: $color-grey;
  font-weight: normal;
}

button {
  padding: 0.5em 3em;
  border-radius: 5rem;
}

p {
  line-height: 2.3em;
  text-align: justify;
}

section {
  width: 80%;
  margin: auto;
}

.swiper-pagination {
  display: flex !important;
  margin-top: $gutter;
  justify-content: flex-end;
  .swiper-pagination-bullet-active {
    background-color: $color-white;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

@media (max-width: $breakpoint) {
  body,
  li,
  a,
  p,
  button {
    font-size: 1.05em;
    line-height: 1.5em;
  }

  button {
    padding: 0.5rem 2rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 3rem;
  }
  .swiper-pagination {
    justify-content: space-evenly;
  }
}
