---
import { getEntry } from "astro:content";
const { data: disclaimer } = await getEntry("disclaimer", "disclaimer");
---

<section class='disclaimer-section'>
  <p>{disclaimer.text}</p>
</section>

<style lang='scss'>
  @import "../../styles/_vars";

  .disclaimer-section {
    margin: 0;
    padding: $gutter 0;
    width: 100%;
    background-color: $color-button;
    p {
      margin: 0 $margin;
      color: $color-white;
    }
  }
</style>
