---
import FlowerVioletIcon from "../../icons/FlowerVioletIcon.astro";
import Markdown from "../Markdown.astro";
const { title, paragraph } = Astro.props;
---

<section class="flowerSection">
  <!-- <FlowerVioletIcon class="flowerSection__flower" /> -->
  <div class="flowerSection__text">
    <h2>{title}</h2>
    <Markdown content={paragraph} />
  </div>
</section>

<style lang="scss">
  @import "../../styles/_vars.scss";

  .flowerSection {
    display: flex;
    align-items: flex-start;
    gap: $gutter-large;
    :global(.flowerSection__flower) {
      height: 100%;
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: $gutter;
      position: relative;
      padding-left: 20vw;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 15vw;
        background-image: url("/icons/flower-violet.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
      h2 {
        position: relative;
        align-self: flex-start;
      }
      h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 10rem;
        height: 1px;
        background-color: $color-main;
        right: -5rem;
      }
    }
  }

  @media (max-width: $breakpoint) {
    .flowerSection__text {
      padding-left: 0;
      &::before {
        display: none;
      }
      h2::after {
        display: none;
      }
    }
  }
</style>
