---
import { getCollection, getEntries } from "astro:content";
import Service from "../Service.astro";

const { title } = Astro.props;
const services = (await getCollection("services")).map(
  (service) => service.data,
);
---

<section class="services">
  <h2>{title}</h2>
  <div class="servicesGrid">
    {
      services.sort((serviceA, serviceB) => serviceA.order - serviceB.order).map((service, index) => (
        <Service
          link={service.link === "index" ? "/" : service.link}
          image={service.image}
          imageAlt={service.imageAlt}
          title={service.title}
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  @import "../../styles/_vars.scss";
  .services {
    h2 {
      text-align: center;
      margin-bottom: $gutter;
    }
  }

  .servicesGrid {
    width: 100%;
    display: grid;
    gap: $gutter;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
