---
import { client } from "../../../tina/__generated__/client";
const { title } = Astro.props;
const servicesResponse = await client.queries.servicesConnection();
type Service = {
  title: string;
  image: string;
  imageAlt: string;
  link: string;
};
const services: Service[] = servicesResponse.data.servicesConnection.edges?.map(
  (x) => x?.node
) as unknown as Service[];
// Uncomment to filter out the current service
// .filter(
//   (service) => `/${service?.link?._sys.filename}` !== Astro.url.pathname
// );
---

<section class='services'>
  {
    services.map((service) => (
      <div class='service' style={`background-image: url(${service.image});`}>
        <a href={service.link}>{service.title}</a>
      </div>
    ))
  }
</section>

<style lang='scss'>
  .services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .service {
    position: relative;
  }
</style>
