---
import Layout from "../layouts/MainLayout.astro";
---

<script>
  const hashCode = (s: string) =>
    s.split("").reduce((a, b) => ((a << 5) - a + b.charCodeAt(0)) | 0, 0);
  const passwordEl = document.getElementById("password");
  const buttonsEl = document.getElementById("buttons");
  const showButtons = (event: Event) => {
    if (hashCode(event.target.value) === 1068181318)
      buttonsEl?.classList.add("show-buttons");
    else buttonsEl?.classList.remove("show-buttons");
  };
  passwordEl?.addEventListener("change", showButtons);

  const publishDevEl = document.getElementById("publish-dev");
  const publishDev = () => {
    fetch(
      "https://webhooks.amplify.eu-west-3.amazonaws.com/prod/webhooks?id=a7ac40ab-d13d-4508-92a3-a408ae08dc7e&token=YutGXGcEqcVwPxqB1qRs5B7oafIfEe7K1Uxb4csIc",
      { method: "POST" },
    );
  };
  publishDevEl?.addEventListener("click", publishDev);
</script>

<Layout title="Publier le site">
  <div>
    <h1>Pour publier le site, merci d'entrer le mot de passe</h1>
    <label for="password"> Mot de passe :</label>
    <input type="password" id="password" />
  </div>
  <div id="buttons">
    <button id="publish-dev"
      >Publier les dernières modifications en recette</button
    >
    <button id="publish-prod" disabled
      >Publier le site de recette en production</button
    >
  </div>
</Layout>

<style lang="scss">
  #buttons {
    display: none;
  }
  #buttons.show-buttons {
    display: block;
  }
</style>
