---
const { image } = Astro.props;
---

<div class="card">
  <div class="card__text">
    <slot />
  </div>
</div>

<style lang="scss" define:vars={{ image: `url(${image})` }}>
  @import "../styles/_vars.scss";

  .card {
    position: relative;
    width: 100%;
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    margin-bottom: 10em;
    &__text {
      height: 100%;
      margin: 5%;
      box-shadow: $shadow-dark;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
      padding: $gutter;
      border-radius: $radius;
      transition: all 0.3s;
      transform: translateY(5em);
    }
  }

	@media (max-width: $breakpoint) {
    .card__text {
      height: auto;
    }
  }
</style>
