---
const { name, class: iconClass } = Astro.props;
const { default: innerHTML } = await import(
  /* @vite-ignore */ `/src/icons/${name}.svg?raw`
);
---

<div class={iconClass}>
  <Fragment set:html={innerHTML} />
</div>
