---
const { name, class: iconClass } = Astro.props;
const { default: innerHTML } = await import(
  /* @vite-ignore */ `../icons/${name}.svg?raw`
);
const icons = import.meta.glob("../icons/*");
const icon = icons[`../icons/${name}.svg`];
---

<div class={iconClass}>
  <Fragment set:html={innerHTML} />
</div>
