---
const {
  title = "Pauline Gorlier, soins énergétiques",
  description = "Description du site",
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta charset="utf-8" />
