---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/main.scss";
const { title } = Astro.props.frontmatter || Astro.props;
---

<html>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <slot name='head' />
  </head>
  <body>
    <Header currentPageTitle={title} />
    <slot />
    <Footer />
  </body>
</html>
